


.header1st div:first-of-type{
	display: flex;
	flex-direction: column;
	background-color: darkred;
	color: white;
	margin-right: 70%;
	padding: 30pt;
	font-size: 25pt;
}

.header1st div:nth-of-type(2){
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	background-color: greenyellow;
	color: purple;
	margin-right: 60%;
}


.header{
	display: flex;
	justify-content: space-evenly;
	background-color: lightblue;
}

.header p2 , p3 {
	color: greenyellow;


}

.box{
	background-color: purple;
}

.box div>p{
	display: flex;
	align-content: space-evenly;
	justify-content: center;
	background-color: black;
	margin: 20pt;
	font-size: 30pt;
	color: maroon;

}